@import '~@fullcalendar/common/main.css';
@import '~@fullcalendar/daygrid/main.css';

.fc .fc-toolbar-title {
    font-size: 1.3em;
}

.fc .fc-button {
    font-size: 0.7em;
    background-color: #4F4F4F;
    border-radius: 50%;
}

.fc-today-button {
    height: 32px;
    padding: 0px;
}

.fc-prev-button {
    height: 32px;
}

.fc-next-button {
    height: 32px;
}

.fc-daygrid-day-number {
    color: black;
    text-decoration: none;

}

.fc-daygrid-day-number :hover {
    color: black;
}

.fc-col-header-cell-cushion {
    color: black;
    text-decoration: none;
}

.fc-col-header-cell-cushion :hover {
    color: black;
}

.fc-scroller .fc-col-header {
    position: relative;
    z-index: -2;
}

.fc .fc-daygrid-body {
    /* a <div> that wraps the table */
    position: relative;
    z-index: 0;
    /* container inner z-index's because <tr>s can't do it */
}

.fc-daygrid-day-events {
    color: #3e4970;
}

.fc-event-title-container {
    padding-left: 10px;
}