* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h3 {
  margin-top: 10px;
}

.horizontal {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #aaa;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.horizontal span {
  background: #fff;
  padding: 0 10px;
}

.category1_menu {
  text-align: center;
  height: 550px;
}

.category1_menu .window {
  overflow: hidden;
  position: relative;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 500px;
  background-color: white;
  border-radius: 0pt;
}

.category1_menu .container {
  position: absolute;
  text-align: left;
  width: 100%;
  height: 500px;
  margin: 0;
  padding: 0;
}

.category1_menu .container li {
  cursor: default;
  margin: 0;
  padding: 0;
}

.category1_menu .cimg {
  width: 100%;
}

.category1_menu .buttons {
  text-align: center;
  padding-top: 20px;
}

.category1_menu .buttons .button {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #DDDDDD;
  border-radius: 100%;
  padding: 0 2px;
  margin: 0 2px;
}

.category1_menu .buttons .selected {
  background-color: #98B5DA;
}

.category1_menu .buttons .button:hover {
  cursor: pointer;
  background-color: #4C7DBD;
}

/* 
.category1_menu {
  height: 130px;
  line-height: 130px;
  text-align: center;
  margin-top: 20px;
}

.category1_menu ul {
  text-align: center;
}

.category1_menu li {
  width: 247px;
  height: 88px;
  display: inline-block;
  font-size: 20px;
  font-weight: 900;
  line-height: 84px;
  text-align: center;
  background-color: #F9F9F9;
  border: 2px solid #F5F5F5;
  margin: 0 10px;
  cursor: pointer;
}

.category1_menu li b {
  font-size: 30px;
}

.category1_menu li:hover a {
  color: white;
}

.category1_menu li:hover {
  background-color: #98B5DA;
  border: 2px solid #4C7DBD;
}

.category1_menu .selected {
  background-color: #FFFFFF;
  border: 2px solid #4C7DBD;
} */

.category2 {
  margin-top: 30px;
}

.category2_title {
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin: 20px 0;
  border-bottom: 1px solid black;
}

.category2_title h3 {
  font-size: 25px;
  text-align: left;
}

.category2_item {
  width: 100%;
  height: 200px;
}

.category2_item .items {
  width: 25%;
  height: 90px;
  display: inline-block;
  text-align: center;
  padding: 7px;
}

.category2_item .items:hover {
  padding: 5px;
  border: 2px solid #98B5DA;
}

.category2_item .item {
  height: 80px;
  padding: 7px;
  background-color: rgba(0, 0, 0, 0.5);
}

.category2_item .items:hover .item {
  background-color: rgba(255, 255, 255, 0.7);
}

.category2_item .item p {
  display: block;
  font-weight: bold;
  text-align: left;
  color: white;
}

.category2_item .items:hover .item p {
  color: black;
}

.category2_item .item .title {
  font-size: 18px;
  color: white;
}

.category2_item .item .comment {
  font-size: 14px;
  font-weight: normal;
  color: white;
}

.board_wrap {
  width: 1000px;
  margin: 100px auto;
}

.board_title {
  margin-bottom: 30px;
}

.board_title strong {
  font-size: 3rem;
}

.board_title p {
  margin-top: 5px;
  font-size: 1.4rem;
}

.bt_wrap {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
}

.bt_wrap a,
.on {
  display: inline-block;
  min-width: 80px;
  margin: 20px 0 0 10px;
  padding: 10px;
  border: none;
  border-radius: 2px;
  font-size: 1.4rem;
  border-radius: 30px;
}

.bt_wrap a {
  text-decoration: none;
  background: #E8EAEC;
  color: #000;
}

.bt_wrap a:hover {
  color: #000;
}

.bt_wrap .on {
  background: #9A9A9A;
  color: #fff;
}

.bt_wrap_feedback .bt_workout,
.bt_diet {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 180px;
  height: 44px;
  padding: 10px;
  margin: 30px 10px;
  border: 1px solid #4F4F4F;
  font-size: 1.4rem;
  border-radius: 8px;
}

.bt_wrap_feedback .bt_workout {
  background: #4F4F4F;
  color: #fff;
}

.bt_wrap_feedback .bt_diet {
  color: #4F4F4F;
}

.bt_write {
  width: 150px;
  height: 44px;
  color: #fff;
  background: #4F4F4F;
  border: none;
  border-radius: 8px;
  margin: 30px 0;
  float: right;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.bt_send {
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: #9A9A9A;
  border: 1px solid #9A9A9A;
  border-radius: 30px;
  margin: 0 0 30px 50px;
}

.bt_member {
  width: 150px;
  height: 150px;
  border: 0;
  text-align: center;
  margin: 0 0 0 35px;
}

.board_list_wrap {
  margin: 50px 0 10px 0;
}

.feedback_list {
  float: left;
  width: 30%;
  height: 600px;
  padding: 15px;
  background-color: #EFF0F2;
  border-radius: 12px 0px 0px 12px;
  margin-bottom: 80px;
}

.feedback_list li,
.feedback_list a {
  display: block;
  text-align: left;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #888888;
  padding: 20px 0;
}

.feedback_list li a:hover {
  color: black;
}

.card .card_img {
  width: 100%;
  height: 350px;
  border-radius: 8px;
}

.card_body .card_text {
  text-align: left;
  font-size: 1.5rem;
  padding: 20px 0 0 10px;
}

.card_body .cont {
  width: 85%;
  height: 100px;
  padding: 15px;
  margin-top: 30px;
  background: #FFFFFF;
  border: 1px solid #E8EAEC;
  border-radius: 8px;
}

.board_page {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
}

.board_page a {
  display: inline-block;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-left: 0;
  line-height: 100%;
}

.board_page a.bt {
  padding-top: 10px;
  font-size: 1.2rem;
  letter-spacing: -1px;
}

.board_page a.num {
  padding-top: 9px;
  font-size: 1.4rem;
}

.board_page a.num.on {
  border-color: #000;
  background: #000;
  color: #fff;
}

.board_page a:first-child {
  border-left: 1px solid #ddd;
}

.board_view {
  width: 100%;
  border-top: 2px solid #000;
}

.board_view .title {
  padding: 20px 15px;
  border-bottom: 1px dashed #ddd;
  font-size: 2rem;
}

.board_view .info {
  padding: 15px;
  border-bottom: 1px solid #999;
  font-size: 0;
}

.board_view .info dl {
  position: relative;
  display: inline-block;
  padding: 0 20px;
}

.board_view .info dl:first-child {
  padding-left: 0;
}

.board_view .info dl::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  display: block;
  width: 1px;
  height: 13px;
  background: #ddd;
}

.board_view .info dl:first-child::before {
  display: none;
}

.board_view .info dl dt,
.board_view .info dl dd {
  display: inline-block;
  font-size: 1.4rem;
}

.board_view .info dl dd {
  margin-left: 10px;
  color: #777;
}

.board_view .cont {
  padding: 15px;
  border-bottom: 1px dashed #ddd;
  height: 300px;
  line-height: 160%;
  font-size: 1.4rem;
}

.board_view .answer {
  padding: 15px;
  border-bottom: 1px solid #000;
  height: 100px;
  line-height: 160%;
  font-size: 1.4rem;
}

.board_view_wrap .cont {
  padding: 15px;
  margin-top: 30px;
  width: 100%;
  height: 100px;
  line-height: 160%;
  font-size: 1.4rem;
}

.board_list {
  float: left;
  width: 30%;
  height: 700px;
  padding: 15px;
  background-color: #EFF0F2;
  border-radius: 8px;
}

.board_list li,
.board_list a {
  display: block;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 600;
  color: #888888;
  padding: 20px 0;
}

.board_list li a {
  color: #888888;
  text-decoration: none;
}

.board_write {
  float: right;
  width: 60%;
  height: 700px;
  margin-left: 30px;
}

.board_write .title,
.board_write .info {
  padding: 15px;
}

.board_write .title dl {
  font-size: 0;
}

.board_write .info dl {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  margin-bottom: 20px;
}

.board_write .title dt,
.board_write .info dt {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.board_write .title dd,
.board_write .info dd {
  font-size: 1.3rem;
  color: #9A9A9A;
}

.board_write .info input[type="text"],
.board_write .info input[type="password"],
.board_write .info input[type="number"],
.board_write .info input[type="date"],
.board_write .info input[type="tel"],
.board_write .info input[type="email"],
.board_write .info .cont {
  width: 230px;
  height: 48px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #C2C6CC;
  border-radius: 8px;
}

.board_write .info .cont {
  height: 121px;
}

.board_write .title input[type="text"] {
  width: 100%;
}

.board_write .info input[type="radio"] {
  width: 30px;
}

.board_write .cont {
  width: 100%;
  height: 200px;
  margin: 10px 0;
  padding: 15px;
  border-bottom: 1px solid #000;
}

.footer {
  width: 100%;
  height: 360px;
  margin-top: 80px;
}

.footer_menu_box {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: inline-block;
  padding: 50px;
  background-color: #EFF0F2;
}

.left_menu_box {
  width: 30%;
  float: left;
}

.left_menu_box_button_wrap {
  margin-top: 30px;
}

.left_menu_box_button_wrap button {
  width: 172px;
  height: 52px;
  background: #E0E2E6;
  border: 1px solid #E0E2E6;
  border-radius: 6px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #484848;
  margin-right: 13px;
}

.footer_menu {
  width: 70%;
  float: left;
}

.footer_menu ul {
  float: left;
  padding-right: 70px;
}

.footer_menu li {
  display: block;
  font-family: 'Montserrat';
  font-style: normal;
  color: #484848;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.footer_menu li a {
  text-decoration: none;
  color: #5d5d5d;
}

.footer_menu .footer_title {
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 18px;
}

.menu_box {
  height: 60px;
  padding: 20px 0;
  border-top: 1px solid #ddd;
  background-color: #EFF0F2;
}

.menu_box p {
  text-align: center;
  font-size: 14px;
}

@media (max-width: 1000px) {
  .bt_send {
    margin: 0 0 5px 20px;
  }

  .card_body .cont {
    width: 70%;
  }

  .board_wrap {
    width: 100%;
    min-width: 320px;
    padding: 0 30px;
    box-sizing: border-box;
  }

  .board_list .num,
  .board_list .writer,
  .board_list .count {
    display: none;
  }

  .board_list .date {
    width: 40%;
  }

  .board_list .title {
    text-indent: 10px;
  }

  .board_list .top .title {
    text-indent: 0;
  }

  .board_page a {
    width: 26px;
    height: 26px;
  }

  .board_page a.bt {
    padding-top: 7px;
  }

  .board_page a.num {
    padding-top: 6px;
  }

  .board_view .info dl {
    width: 50%;
    padding: 0;
  }

  .board_view .info dl:nth-child(-n+2) {
    margin-bottom: 5px;
  }

  .board_view .info dl::before {
    display: none;
  }

  .board_view .info dl dt,
  .board_view .info dl dd {
    font-size: 1.2rem;
  }

  .board_write .info dl {
    width: 49%;
  }

  .board_write .info dl:first-child {
    margin-right: 2%;
  }

  .board_write .title dt,
  .board_write .info dt {
    display: none;
  }

  .board_write .title dd,
  .board_write .info dd {
    width: 100%;
  }

  .board_write .info input[type="text"],
  .board_write .info input[type="password"],
  .board_write .info input[type="number"],
  .board_write .info input[type="date"],
  .board_write .info input[type="tel"],
  .board_write .info input[type="email"],
  .board_write .info .cont {
    width: 100%;
  }

  .footer {
    width: 100%;
    min-width: 320px;
  }

  .footer_menu,
  .left_menu_box_button_wrap button {
    display: none;
  }
}